################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/memlock
/allocater/Debug
/allocater/x64
/memlock/bin/x64
/memlock/obj/x64
/x64
/allocater/allocater.vcxproj.user
/memlock/memlock.csproj.user
/allocater/VulkanSDK
